.App {
    text-align: center;
}

.nav-title {
    font-size: 28px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: #435FE1
}


@font-face {
    font-family: "Montserrat";
    src: url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
}

.nav-block {
    width: 223px;
    height: 50px;
    border-radius: 10px;
}

.list-group-item a {
    text-decoration: none;
    margin-left: 10px;
}

.list-group-item .active {
    color: white;
}

/*.nav-block .active {*/
/*    color: white;*/
/*}*/


